.item-list-container {
  padding: 40px 20px;
  background-color: rgb(144, 238, 144);
}

.item-list-container h2 {
  font-size: 2rem;
  color: rgb(0, 128, 0);
}

.item-list-container p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  padding: 20px;
  flex: 0 0 calc(33.33% - 20px);
  box-sizing: border-box;
}

::marker {
  color: transparent;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  flex-direction: column;
}

.loader-container p {
  margin-top: 10px; 
  font-size: 1.2rem;
  color: #333;
}